src/META-INF/wsdl/localhost_8080/Sistima_Vivliothikis_Ergasia_WebService/Sistima_Vivliothikis_Web_Yphresies.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://yphresia.web.vivliothikis.sistima.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://yphresia.web.vivliothikis.sistima.org/">

<xs:element name="book_request_service" type="tns:book_request_service"/>

<xs:element name="book_request_serviceResponse" type="tns:book_request_serviceResponse"/>

<xs:element name="book_reservation_service" type="tns:book_reservation_service"/>

<xs:element name="book_reservation_serviceResponse" type="tns:book_reservation_serviceResponse"/>

<xs:complexType name="book_request_service">
<xs:sequence>
<xs:element name="infos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book_request_serviceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book_reservation_service">
<xs:sequence>
<xs:element name="infos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="book_reservation_serviceResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>